body {

    background-image: url(./baclgrnd.jpeg);
    background-position: center;
    background-size: cover;
}

#camellogo {
    padding-left: 50px;
    position: relative;
    right: 200px;
    }
#navbar {
padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#options {
display: flex;
gap: 40px;
flex-direction: row;

}
.right-container{
    display: grid;
position: relative;
grid-template-columns: 200px 200px;
gap: 50px;
column-gap: 100px;
right: 100px;
float: right;

}

.c1{
    position: absolute;
    top: 10px;
}
.c2 {
    position: absolute;
    top: 10px;


}

.c3 {
    position: absolute;
bottom: 150px;


}
.c4{
    position: absolute;
bottom: 130px;
}
.card:hover {
    transform: scale(1.1);

}
.card {
    transition: 1s;

}

button {
    width: 100px;
    height: 40px;
    border-radius: 10px;

cursor: pointer;
transition: 1s
}
button:hover{
    transform: scaleX(1.1);
    
}


.left-container{
    margin: 40px;


}
.hmebgr{

    position: absolute;
    right: 100px;
top: 20px;
}
@media  screen and (min-width:200px) and (max-width:900px){
body {
background-repeat: no-repeat;
height: 100;
}
    #camellogo {

position: relative;
left: 100px;

    }

#options {
    display: flex;
    flex-direction: column;
}
.right-container {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
#camellogo{

    position: absolute;
    left: 10px;
width: 10px;
}






}







